<a href="https://colab.research.google.com/github/vchandraiitk/agentic-ai/blob/main/1_Pydentic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pip install pydantic

BaseModel is a class provided by Pydantic that:

Parses input data (e.g., JSON, dict)

Validates fields using Python type hints

Converts types when needed (e.g., string "123" â†’ integer 123)

Provides helpful .dict(), .json(), .copy() methods

In [ ]:
from pydantic import BaseModel

class Person(BaseModel):
    name: str
    age: int
    city: str

person = Person(name="John Doe", age=30, city="New York")
print(person)

name='John Doe' age=30 city='New York'

In [ ]:
person = Person(name="John Doe", age=30, city="New York")
print(person)

name='John Doe' age=30 city='New York'

In [ ]:
from dataclasses import dataclass

@dataclass
class Employee():
    name: str
    age: int
    city: str

employee = Employee(name="John Doe", age="aaa", city="New York")
print(employee)

Employee(name='John Doe', age='aaa', city='New York')

### Optional Fields

In [ ]:
from typing import Optional
from pydantic import BaseModel

class Person(BaseModel):
    name: str
    age: int
    city: str
    salary: Optional[float] = 0.1

person = Person(name="John Doe", age=30, city="New York")
print(person)

name='John Doe' age=30 city='New York' salary=0.1

In [ ]:
person = Person(name="John Doe", age=30, city="New York", salary=4.5)
print(person)

name='John Doe' age=30 city='New York' salary=4.5

## List of String

In [ ]:
class Person(BaseModel):
    name: str
    age: int
    city: str
    salary: Optional[float] = 0.1
    depts: list[str]

person = Person(name="John Doe", age=30, city="New York", depts=["CHE", "CSE", "MME"])
print(person)

name='John Doe' age=30 city='New York' salary=0.1 depts=['CHE', 'CSE', 'MME']

## Object Type

In [ ]:
class Address(BaseModel):
    street: str
    city: str
    state: str
    zip: str

In [ ]:
class Person(BaseModel):
    name: str
    age: int
    city: str
    salary: Optional[float] = 0.1
    depts: list[str]
    address: Address

person = Person(name="John Doe", age=30, city="New York", depts=["CHE", "CSE", "MME"], address=Address(street="123 Main St", city="New York", state="NY", zip="10001"))
print(person)

name='John Doe' age=30 city='New York' salary=0.1 depts=['CHE', 'CSE', 'MME'] address=Address(street='123 Main St', city='New York', state='NY', zip='10001')

##Field

In [ ]:
from pydantic import BaseModel, Field

class Person(BaseModel):
    name: str = Field(..., min_length=3, max_length=10)
    age: int = Field(gt=0, lt=120)
    city: str
    salary: int = Field(default=3000, gt=0)

In [ ]:
person = Person(name="John", age=20, city="New York")
print(person)

name='John' age=20 city='New York' salary=3000